.ellipse {
    position: absolute;
    left: 20.76%;
    right: 20.76%;
    top: -44.34%;
    bottom: 62.11%;
    z-index: -2;
    background: #E1C3FF;
    opacity: 0.5;
    filter: blur(160px);
}

.container {
    max-width: 720px;
}

.lh-condensed {
    line-height: 1.25;
}

.link-button {
    background: none;
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    box-sizing: border-box;
}

.link-button:hover {
    text-decoration: underline;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    .player {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        margin-bottom: -140px;
        margin-top: -140px;
    }
}

@media (max-width: 767px) {
    .player {
        width: 100%;
        height: 350px;
        margin-bottom: -140px;
        margin-top: -140px;
    }
}

.overview {
    text-align: center;
    padding: 40px 0;
    background: #EBF0F5;
}

h1 {
    color: #40b843;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 64px;
}

p {
    color: #404F5E;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    margin: 0;
    line-height: 28px;
}

i {
    color: #40b843;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
}

.card {
    background: white;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px rgba(0, 0, 0, 0.03);
    display: inline-block;
    margin: 0 auto;
}
