.ellipse {
  position: absolute;
  left: 20.76%;
  right: 20.76%;
  top: -44.34%;
  bottom: 62.11%;
  z-index: -2; 
  
  background: #E1C3FF;
  opacity: 0.5;
  filter: blur(160px);
  
  }

.container {
  max-width: 720px;
}

.lh-condensed { line-height: 1.25; }